.product-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.product-card h2 {
  margin-top: 0;
}

.product-card a {
  display: inline-block;
  margin-top: 12px;
  padding: 12px 18px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}body{
  font-family: Arial;
  background:#f6f8f4;
  text-align:center;
  margin:0;
}

.title{
  margin-top:30px;
}

.tag{
  color:green;
}

.card{
  background:white;
  width:90%;
  max-width:350px;
  margin:30px auto;
  padding:20px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.card img{
  width:100%;
  border-radius:10px;
}

.price{
  font-size:22px;
  font-weight:bold;
  color:green;
}

.btn{
  display:inline-block;
  margin-top:15px;
  padding:12px 20px;
  background:#25d366;
  color:white;
  text-decoration:none;
  border-radius:25px;
}

.float{
  position:fixed;
  bottom:20px;
  right:20px;
}

.float img{
  width:60px;
}
